
@{
    ViewBag.Title = "ActiveUser";
}

<h2>فعال سازی حساب کاربری</h2>

@if(ViewBag.Ok)
{

   <div class="alert">
       حساب کابری شما با موفقیت فعال گردید
   </div>
}else

{

    <div class="alert alert-danger>
        کاربری یافت نشد

    </div>



}