
@{
    ViewBag.Title = "RegisterSuccess";
}

<h2>موفق</h2>

<hr />

<div class="alert alert-success">
    <p>

        ثبت نام شما با موفقیت انجام شد<br />
        ایمیلی حاوی لینک فعال سازی برای شما رسال گردید
    </p>

</div>

